@{
    ViewBag.Title = "Student Attendance Tracking System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:20px"><b>Instructions:</b></p>
<ul style="line-height:40px;border:solid;border-color:black;width:50%">
    <li>
        Use the "Record Attendance" link to capture the attendance for a day.
    </li>
    <li>
        Use the "Track Attendance" link to view the recorded attendance.
    </li>
    <li>
        The attendance recording process is enabled only for the dates lying in between the date,<br />which is one month ago from the current date and the current date.
    </li>
    <li>
        In between you can click the "Home" link anytime to return to the Home page.
    </li>
</ul>
